rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isNonEmptyString(val) {
      return val is string && val.size() > 0;
    }

    match /items/{itemId} {
      allow read, create, update, delete: if true;
    }

    match /users/{userId} {
      allow read, create, update, delete: if true;
    }

    match /offers/{offerId} {
      allow read, create, update, delete: if true;
    }

    match /questions/{questionId} {
      allow read, create, update, delete: if true;
    }

    match /negotiationMessages/{messageId} {
      allow read, create, update, delete: if true;
    }

    match /contracts/{contractId} {
      allow read, create, update, delete: if true;
    }

    match /reviews/{reviewId} {
      allow read, create, update, delete: if true;
    }

    match /settings/{settingId} {
      allow read, create, update, delete: if true;
    }

    match /categories/{categoryId} {
      allow read, create, update, delete: if true;
    }
  }
}
